/* Estilos globales */
body {
    background-color: rgb(6, 6, 29);
}
/* barra de navegacion */
.mi-nombre {
    color: white;
}
.barraconcosas {
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
}
.imagenperfil {
    height: 80px;
    width: 80px;
}
.barra-navegacion{
    background-color: rgb(5, 5, 33);
}


  .fixed-image {
    height: 250px; 
    object-fit: contain; 
  }

  .card {
    min-height: 400px; 
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
